.banner{
    position: relative;
    background-image: url(https://cdn.britannica.com/30/182830-050-96F2ED76/Chris-Evans-title-character-Joe-Johnston-Captain.jpg);
    background-size: cover;
    background-position: center;
    height: 630px;
    color: white;

}